@import '../../styles/variables.scss';

.thumbnail {
  width: 50px; // Defina a largura que você deseja
  height: auto; // Para manter a proporção
  object-fit: cover; // Para garantir que a imagem se ajuste corretamente ao espaço
}