@import '../../styles/variables.scss';

.cartCotainer {
  background: #fff;
  border-radius: 12px;
  padding: 10px 20px;
  h2 {
    color: $red;
    font-weight: $font-weight-bold;
  }

  .container {
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    background-color: #fff;

    &:hover {
      outline: 1px solid white;
    }

    .shoppingCart {
      height: 3em;
      padding: 1.5rem 0.4rem;
      will-change: filter;
      transition: filter 300ms;
    }

    .productsCount {
      z-index: 1;
      font-size: 2em;
      top: 38px;
      color: orange;
    }

  }

  .cartValuesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .cartValues {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: black;
  }

  .cartDetails {
    display: flex;
    flex-direction: column; /* Mantém os itens em coluna */
    gap: 1rem; /* Adiciona espaçamento entre os itens */
    color: black;
  }
  
  .cartItem {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid #ddd; /* Linha divisória entre os itens */
  }
  
  
  .cartItemName {
    font-weight: bold;
    margin-bottom: 0.5rem; /* Adiciona espaçamento entre o nome e os valores */
  }

  .cartItemQuantity {
    color: $red;
  }

  .cartItemPriceUnit {
    color: $rose-50;
  }

  .cartItemTotal {
    color: $rose-500;
    font-weight: $font-weight-bold;
  } 
  
  .cartItemQuantity, .cartItemPriceUnit, .cartItemTotal {
    margin-bottom: 0.25rem; /* Adiciona espaçamento entre os valores */
    
  }
  
  .cartTotal {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
  }

}
