@import '../../styles/variables.scss';

.productList {
  background-color: $rose-100;

  .productTitle {
    font-size: 3rem;
    margin-bottom: 2.5rem;
    color: $rose-900;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .productCard {
      position: relative;
      .productImage {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
      }

      h2 {
        font-size: 1.5rem;

        color: $rose-900;
      }

      p {
        margin: 5px 0;
        color: $rose-400;
      }

      span {
        font-size: 1.2rem;
        font-weight: $font-weight-bold;
        color: $red;
        
      }
      
    }
  }
}

.quantityControls {
  display: flex;
  align-items: center;
  border: 1px solid $red;
  background: $red;
  border-radius: 20px;
  padding:5px;

  button {
    
    background:  $red;
    border:1px solid #fff;
    border-radius:50%;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 5px;
    flex-shrink: 0; 
  }

  span {
    font-size: 1.2rem;
    margin: 0 10px;
    text-align: center;
    min-width: 30px; 
    display: inline-block; 
    color:$red;
  }

  .decrementButton, .incrementButton {
    color: #fff;
    background-color: $red;
    border:1px solid #fff;
    border-radius:50%;
  }
}

.addToCartButton {
  position: absolute; 
  bottom: 40%; 
  left: 50%; 
  transform: translateX(-50%);
  background-color: white;
  color: $red; 
  border-radius:12px !important;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid $red; 
  width:150px;
  padding:5px;
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    

    svg path {
      fill: $red; // Define a cor inicial do SVG
      transition: fill 0.3s ease;
    }
  
    // Aplica o hover ao caminho
    &:hover svg path {
      fill: #fff; // Cor do hover
    }
}

.addToCartButton:hover {
  background: $red; 
  color: #fff; 
  transition: fill 0.3s ease;
}



.quantityControls {
  display: flex;
  align-items: center;
  position: absolute; 
  bottom: 40%;
  left: 50%; 
  transform: translateX(-50%); 

  button {
    background-color:white; 
    color: $red;
    border:1px solid $red;
    border: 1px solid $red;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 5px;
    flex-shrink: 0; 
  }

  .productQuantity {
    font-size: 1.2rem;
    margin: 0 10px;
    text-align: center;
    min-width: 30px; 
    display: inline-block; 
    color: #fff !important;
  }


}


@media (min-width: 1024px) {
  .productCard {
    flex: 0 0 calc(33.33% - 10px);
  }

  .productCard .addToCartButton, .quantityControls { 
    position: absolute;
    bottom: 17%; 
  }
}

@media (max-width: 768px) {
  .productCard {
    flex: 0 0 calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .productCard {
    flex: 0 0 100%;
  }
}
