@import '../../styles/variables.scss';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.orderDetails {
  display: flex;
  flex-direction: column;

}

.orderItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.orderItemImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.orderTotal {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.orderConfirmed {
  display: flex;
  align-items: center;
  gap:15px;

 
  .orderConfirmedText{
    color:$rose-900;
  }
}

.orderProductTitle {
  color: #000;
}

.orderItemContainer {
  display: flex;
  align-items: center;
  gap:10px;

}

.orderItemQuantity {
  color: $red;
  font-weight: $font-weight-semibold;
}


.orderItemPrice {
  color: $rose-500;
  margin-left:15px;
}

.orderItemTotal {
  color: $rose-900;
  font-weight: $font-weight-bold;
}

.orderConfirmedLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
}
